body{
  background-image: url("/src/assets/images/LofiIMG.JPG");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  
}

#calculator{
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(0, 0%, 0%, 0.565);
  border-radius: 15px;
  max-width: 300px;
  overflow: hidden;
  margin-left: 100px;
  margin-top: 50px;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 4rem;
  text-align: left;
  border: none;
  background-color: hsla(0, 0%, 0%, 0.565);
  color: rgb(210, 209, 209);;
}

#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;

}

button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: hsl(339, 70%, 15%);
  color: rgb(210, 209, 209);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: hsl(339, 70%, 40%);
}

button:active{
  background-color: hsl(339, 70%, 50%);
}

.operator-btn{
  background-color: hsl(45, 82%, 39%);
}

.operator-btn:hover{
  background-color: hsl(45, 81%, 65%);
}

.operator-btn:active{
  background-color: hsl(45, 81%, 75%);
}